@font-face {
    font-family: "Campus";
    src: url(./CAMPUS\ PERSONAL\ USE.ttf);
}

@font-face {
    font-family: 'Predators';
    src: url(./CodePredators-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    /* position: relative; */
    /* color: #fff;  */
    height: 100vh;
}

.canvas canvas#q {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
}

h1 {
    font-family: "Campus";
    color: #fff;
    position: absolute;
    top: 25%;
    right: 42.5%;
    z-index: 9;
    animation: h1 5s infinite;

}

@keyframes h1 {
    0% {
        color: #0ab00e;

    }

    50% {
        color: white;
    }

    75% {
        color: rgb(160, 78, 6);
    }

    100% {
        color: #0ab00e;
    }

}


.container {
    text-align: center;

}

.container .row .col .ul {
    position: absolute;
    top: 45%;
    right: 43.3%;
    z-index: 9;
    width: 200px;

}

@media (max-width:451px) and  (min-width:356px) {
    h1 {
        right:30%;
    }
    .container .row .col .ul {
        right: 24.3%;

    }
}
@media (max-width:355px) {
    h1 {
        right:30%;
    }
    .container .row .col .ul {
        right: 22.3%;
        text-align: right;

    }
}


.container .row .col a h6 {
    color: #fff;
    font-family: 'Predators';
    color: #fff;
    z-index: 9;
    transition: 400ms;
    letter-spacing: 2px;
}

.container .row .col a h6:hover {
    transform: scale(1.3);
    color: #0ab00e;

}

.container .row .col a {
    text-decoration: none;
}